.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: calc(100vh - 93px);
  background-color: rgba(0, 111, 227, .23);
  margin-top: 47px;
}

.home-greeting {
  font-family: omnes-semi-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
  margin-top: 20px;
}

.home-avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.home-feature-heading {
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 0px;
}

.home-feature-text {
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.home-cta-button {
  margin-top: 10px;
  padding: 12px 50px;
  border-radius: 5px;
  background-color: #003C7B;
  border: 2px solid #003C7B;
  color: #FFFFFF;
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.home-ps {
  font-family: omnes-cond-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #003C7B;
  margin-top: 5px;
}
