.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 93px);
  background-color: #C5D5E5;
  margin-top: 47px;
}

.home-greeting {
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #696969;
  margin-top: 25px;
}

.home-avatar {
  vertical-align: middle;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

/* .home-welcome {
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #696969;
  margin-bottom: 0px;
} */

.home-chart-title {
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 0px;
}

.home-chart {
  width: 80vw;
  height: auto;
}

.home-cta-button {
  margin-top: 42px;
  padding: 8px 40px;
  border-radius: 25px;
  background-color: #003C7B;
  border: 2px solid #003C7B;
  color: #FFFFFF;
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
