.top-nav {
  display: flex;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: #006FE3;
  height: 47px;
  width: 100vw;
  z-index: 50;
}

 /* leftmost menu icon in top-nav */
.fa-bars {
  position: absolute;
  margin-left: 15px;
  color: rgb(255, 255, 255)
}

/* Page title centered in top-nav */
.top-nav-title {
  color: #FFFFFF;
  font-size: 25px;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

/* Default top-nav title. 'Health' is styled  */
.top-nav-span {
  color: #FFFFFF;
  font-size: 25px;
  font-family: omnes-cond-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  overflow: hidden;
  background-color: #006FE3;
  bottom: 0;
  width: 100vw;
  height: 46px;
  z-index: 50;
}

.bottom-nav .fas {
  color: #FFFFFF;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}


.sidenav-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #7CAFE4;
  margin-top: 0;
}

.sidenav-avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 15px;
}

.closebtn {
  font-size: 36px;
  color: #818181;
  transition: 0.3s;
  margin-right: 10px;
  margin-left: auto;
}
