.top-nav {
  display: flex;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: #006FE3;
  height: 47px;
  width: 100vw;
  z-index: 50;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.35);
}

 /* leftmost menu icon in top-nav */
.fa-bars {
  position: absolute;
  margin-left: 15px;
  color: rgb(255, 255, 255)
}

/* Page title centered in top-nav */
.top-nav-title {
  color: #FFFFFF;
  font-size: 25px;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
}

/* Default top-nav title. 'Health' is styled */
.top-nav-span {
  color: #FFFFFF;
  font-size: 25px;
  font-family: omnes-cond-thin, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  overflow: hidden;
  background-color: #006FE3;
  bottom: 0;
  width: 100vw;
  height: 46px;
  z-index: 50;
  overflow: hidden;
}

.bottom-nav .fas {
  color: #FFFFFF;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #177CE5;
  overflow-x: hidden;
  transition: 0.4s;
}


.sidenav-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #7CAFE4;
  margin-top: 0;
}

.sidenav-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
}

.sidenav-username {
  color: #FFFFFF;
  font-size: 18px;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 15px;
  align-self: flex-end;
}

.sidenav-user-location {
  color: #FFFFFF;
  font-size: 14px;
  font-family: omnes-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.closebtn {
  font-size: 36px;
  color: #818181;
  transition: 0.2s;
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 40px;
}

.sidenav-link-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.sidenav .fas {
  margin-right: 25px;
}

.fa-circle {
  position: absolute;
  color: #FFC14B;
  margin-left: 20%;
  margin-top: -6px;
}

.fa-layers-text {
  position: absolute;
  margin-left: -17px;
  margin-top: 3px;
  color: #FFFFFF;
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.sidenav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  font-family: omnes-cond, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 30px;
}
